<% provide(:title, @event.title) %>
<%= render 'events_links' %>
<%= render 'event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1><%= current_dater.name %></h1>
      <h2><%= @event.title %></h2>

      <h2>Event Information</h2>

      <table class="table">
        <tr>          
          <th>Date</th>
          <td colspan=4><%= @event.date.strftime("%A - #{@event.date.day.ordinalize} %b %Y") %></td>
        </tr>
      </table>
    </section>
  </aside>
</div>
