<% provide(:title, @event.title) %>
<%= render 'events_links' %>
<%= render 'event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1><%= @event.title %></h1>

      <h3>Event Information</h3>

      <table class="table">
        <tr>          
          <th>Date</th>
          <td colspan=4><%= @event.starts_at.strftime("%A - #{@event.starts_at.day.ordinalize} %b %Y") %></td>
        </tr>
        <tr>
          <th>Time</th>
          <td colspan=3><%= @event.starts_at.strftime("%l:%m %P") %></td>
        </tr>
      </table>
    </section>
  </aside>
</div>
