<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="events-links-table">
        <tr>
          <th><%= link_to 'Event List', admin_events_path %></th>
          <th><%= link_to 'New Event', new_admin_event_path %></th>
          <th><%= link_to 'Edit Details', edit_admin_registration_path %></th>
          <th><%= link_to 'Reps', admin_reps_path %></th>
          <th><%= link_to 'Log Out', '/logout' %></th>
        </tr>
      </table>
    </section>
  </aside>  
</div>