<tr>
  <td><%= link_to event.title, admin_event_path(event) %></td>
  <td><%= event.date %></td>
  <td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
  <td> <%= link_to("Delete", admin_event_path(event), method: :delete) %></td>
  <td> <%= link_to 'delete', { controller: "events", action: "destroy", id: event.id }, 
           data: { confirm: 'Are you sure?' }, method: :delete %>
</tr>