<tr>
  <td><%= link_to event.id, admin_event_path(event) %></td>
  <td><%= link_to event.title, admin_event_path(event) %></td>
  <td><%= event.date.strftime("%A - #{event.date.day.ordinalize} %b %Y") %></td>
  <td><%= event.rep ? event.rep.email : 'No Rep Assigned' %></td>
  <td><%= event.daters.size %></td>
  <td><%= event.female_daters.size %></td>
  <td><%= event.male_daters.size %></td>
  <td><%= event.max_rounds %></td>
  <td><%= link_to 'Daters', admin_event_daters_path(event), class: "btn btn-primary" %></td>
  <td><%= link_to 'Schedule', admin_event_speed_dates_path(event), class: "btn btn-primary" %></td>
  <td><%= link_to 'Matches', admin_event_matches_path(event), class: "btn btn-primary" %></td>
  <td><%= link_to 'Edit', edit_admin_event_path(event), class: "btn btn-primary" %></td>
  <td> <%= link_to 'Delete', "/admin/events/#{event.id}", data: { "turbo-method": :delete, turbo_confirm: 'Delete Event. Are you sure?' }, class: "btn btn-danger ml-3" %>
</tr>