<% provide(:title, @event.title) %>
<%= render 'admin/events/events_links' %>
<%= render 'admin/events/event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>

      <h1><%= @event.title %></h1>
      <h2>Matches</h2>

      <%= render 'match_table' %>

      <br>
      <% if @event.matches_email_sent_at.nil? %>
        <%= link_to "Send Emails",admin_event_send_match_emails_path(@event), data: { "turbo-method": :post, turbo_confirm: 'Send match emails to all daters. Are you sure?' }, class: "btn btn-secondary btn-lg" %>
      <% else %>
        <%= link_to "Send Emails",admin_event_send_match_emails_path(@event), data: { "turbo-method": :post, turbo_confirm: 'Match emails have already been sent.  Are you sure you want to resend them?' }, class: "btn btn-secondary btn-lg" %>
      <% end %>
    </section>
  </aside>
</div>