<% provide(:title, 'All Events') %>

<%= render 'events_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>New Event</h1>
      
      <%= form_for(@event, url: admin_events_path) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.label :date %>
        <%= f.date_field :date, class: 'form-control' %>
        <%= f.label :rep %> <br>
        <%= f.collection_select :rep, Rep.where(organisation: current_admin.organisation).order(:email),:id,:email, include_blank: true %>
        <br>
        <br>
        <%= f.submit "Create event", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
</div>
