<% provide(:title, 'All Events') %>

<%= render 'events_links' %>

<h1>New Event</h1>

<div class="row">
  <aside class="col-md-4">
    <section>
      <%= form_for(@event, url: admin_events_path) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.label :date %>
        <%= f.date_field :date, class: 'form-control' %>
        <%= f.submit "Create event", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>  
</div>
