<% provide(:title, @event.title) %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <%= link_to 'Back to Events', admin_events_path %>
      <h1>Event Information</h1>

      <table class="table">
        <tr>
          <th>Name</th>
          <td><%= link_to @event.title, edit_admin_event_path(@event) %></td>
        </tr>
        <tr>
          <th>Date</th>
          <td><%= link_to @event.date.strftime("%A - #{@event.date.day.ordinalize} %b %Y"), edit_admin_event_path(@event) %></td>
        </tr>
        <tr>
          <th><%= link_to 'Daters', admin_event_daters_path(@event) %></th>
          <td><%= @daters.size %></td>
          <td><%= "Male: #{@male_daters.size}" %></td>
          <td><%= "Female: #{@female_daters.size}" %></td>
        </tr>
      </table>
      <%= link_to 'Schedule', admin_event_speed_dates_path(@event) %>
    </section>
  </aside>
</div>
