<% provide(:title, @event.title) %>
<%= render 'events_links' %>

<h1><%= @event.title %></h1>
<%= render 'event_links' %>
<h2>Event Information</h2>

<div class="row">
  <aside class="col-md-4">
    <section>

      <table class="table">
        <tr>
          <th>Date</th>
          <td colspan=4><%= @event.date.strftime("%A - #{@event.date.day.ordinalize} %b %Y") %></td>
        </tr>
        <tr>
          <th rowspan=2><%= link_to 'Daters', admin_event_daters_path(@event) %></th>
          <th>Total</td>
          <th>Male</td>
          <th>Female</td>
        </tr>
        <tr>
          <td><%= @daters.size %></td>
          <td><%= @male_daters.size %></td>
          <td><%= @female_daters.size %></td>
        </tr>
      </table>
    </section>
  </aside>
</div>
