<% provide(:title, @event.title) %>
<%= render 'events_links' %>
<%= render 'event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>

      <h1><%= @event.title %></h1>

      <h2>Event Information</h2>

      <table class="table">
        <tr>
          <th>Date</th>
          <td colspan=3><%= @event.date.strftime("%A - #{@event.date.day.ordinalize} %b %Y") %></td>
        </tr>
        <tr>
          <th>Rep</th>
          <td colspan=3><%= @event.rep ? @event.rep.email : 'No Rep Assigned' %></td>
        </tr>
        <tr>
          <th>Max Rounds</th>
          <td colspan=3><%= @event.max_rounds %></td>
        </tr>
        <tr>
          <th rowspan=2><%= link_to 'Daters', admin_event_daters_path(@event) %></th>
          <th>Total</td>
          <th>Male</td>
          <th>Female</td>
        </tr>
        <tr>
          <td><%= @event.daters.size %></td>
          <td><%= @event.male_daters.size %></td>
          <td><%= @event.female_daters.size %></td>
        </tr>
      </table>
    </section>
  </aside>
</div>
