<%= render "#{resource_name}/events/events_links" %>
<% if [:admin, :rep].include?(resource_name) %>
  <%= render 'devise/shared/organisation' %>
<% end %>

<div class="row">
  <aside class="col-md-4">
    <section class="section">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
      <br>

      <h3>Delete my account</h3>

      <p>Delete your account and all data.</p>
      <%= link_to 'Delete', registration_path(resource_name), data: { 'turbo-method': :delete,
          turbo_confirm: 'This will delete your account and all data.  Are you sure?' }, class: "btn btn-danger ml-3" %>
      <br>

      <%= link_to "Back", :back %>
    </section>
    <section>

    <% if resource_name == :admin %>
      <h3>Delete Organisation</h3>

      <p>Delete this organisation, events and all other data.</p>
      <%= link_to 'Delete Organisation', admin_organisation_path(resource.organisation), data: { 'turbo-method': :delete,
          turbo_confirm: 'This will delete this organisation including this account, all events, reps and other admins.  Are you sure that you want to do this?' }, class: "btn btn-danger ml-3" %>
    <% end %>
    </section>
  </aside>  
</div>