<tr>
  <td><%= link_to rep.email, edit_admin_rep_path(rep)  %></td>
  <td><%= rep.created_at.strftime('%FT%R')  %></td>
  <td><%= rep.invitation_accepted? ? rep.invitation_accepted_at.strftime('%FT%R') : '-'  %></td>
  <td><%= rep.updated_at.strftime('%FT%R')  %></td>
  <td>
    <%= link_to 'Resend Invitation', admin_rep_resend_invitation_path(rep), method: :patch, class: "btn btn-primary" %>
  </td>
  <td>
    <%= link_to 'Delete Rep', "/admin/reps/#{rep.id}", data: { "turbo-method": :delete, turbo_confirm: 'Delete Rep. Are you sure?' }, class: "btn btn-danger ml-3" %>
  </td>
</tr>
