<% provide(:title, 'Reps') %>
<%= render 'admin/events/events_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>Reps</h1>

      <table class="table">
        <tr>
          <th>Email</th>
          <th>Created At</th>
          <th>Invitation Accepted At</th>
          <th>Updated At</th>
          <th colspan=2>Actions</th>
        </tr>
      
        <%= render @reps %>

      </table>
    </section>
    <section class="col-md-8">

      <h3>Invite Rep</h3>

      <%= form_with url: admin_reps_path, html: { autocomplete: "off" } do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <br>
        <br>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>

    </section>
  </aside>
</div>
