<%= form_with url: path, method: :put do |f| %>
  <table>
    <%= collection_check_boxes(:dater, :matches, @possible_matches, :id, :first_name) do |b| %>
      <tr>
        <td><%= b.label %></td>
        <td><%= b.check_box(checked: b.object.match) %></td>
      </tr>
    <% end %>
  </table>
  <%= f.submit "Update Matches", class: "btn btn-primary" %>
<% end %>