<% provide(:title, @event.title) %>

<div class="row">
  <aside class="col-md-10">
    <section>
      <h2>Daters</h2>

      <%= link_to 'Return to Event', event_path(@event) %>

      <table class="table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Gender</th>
        </tr>
      
        <% @daters.each do |dater| %>
          <tr>
            <td><%= link_to dater.name, event_dater_path(@event, dater) %></td>
            <td><%= dater.email %></td>
            <td><%= dater.phone_number %></td>
            <td><%= dater.gender %></td>
          </tr>
        <% end %>
      </table>

      <%= form_with url: event_daters_path do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
        <%= f.label :gender %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.select :gender,  ['male', 'female'], class: 'form-control' %>
        <%= f.submit "Add dater", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
</div>