<% provide(:title, @event.title) %>
<%= render 'dater/events/events_links' %>
<%= render 'dater/events/event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>

      <h1><%= current_dater.name %></h1>
      <h2><%= @event.title %></h2>

      <h3>Schedule</h3>

      <% if @event.speed_dates.any? %>
        <%= render 'shared/schedule' %>
      <% else %>
        <h3>Please wait.  Schedule has not been created yet.</h3>
      <% end %>
    </section>
  </aside>
</div>
