<% provide(:title, @event.title) %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <%= link_to 'Back to Daters', rep_event_daters_path(@event) %>
      <h3>Matches for <%= @dater.name %></h3>

        <%= form_for(@dater, url: rep_event_dater_path) do |f| %>
          <table>
          <% @possible_matches.each do |possible_match| %>
            <tr>
              <td><%= f.label possible_match.name %></td>
              <td><%= check_box_tag possible_match.id, possible_match.id, @dater.matches.include?(possible_match.id.to_s) %></td>
            </tr>
          <% end %>
          </table>
          <%= f.submit "Update Matches", class: "btn btn-primary" %>
        <% end %>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-4">
    <section>
      <%= link_to 'Edit Event Details', edit_rep_event_path(@event) %>
      <br>
      <%= link_to 'Daters', rep_event_daters_path(@event) %>
      <br>
      <%= link_to 'Schedule', rep_event_speed_dates_path(@event) %>
    </section>
  </aside>
</div>