<% provide(:title, @event.title) %>

<%= link_to 'Return to Event', admin_event_path(@event) %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @event.title %>
      </h1>
    </section>
  </aside>
</div>

<% if @speed_dates.any? %>

<%= button_to "Regenerate Schedule", admin_event_speed_dates_path(@event), data: { confirm: 'This will delete and recreate the dating schedule.  Are you sure?' } %>

<div class="row">
  <aside class="col-md-10">
    <section>
      <h2>Schedule</h2>

      <table class="table">
        <tr>
          <th>Round</th>
          <% @female_daters.each do |female_dater| %>
            <th> <%= female_dater.name %> </th>
          <% end %>
          <th> Break </th>
        </tr>

        <% (1..@rounds).to_a.each do |round| %>
          <tr>
            <td><%= round.to_s %></td>
            <% @female_daters.each do |female_dater| %>
            <% sd = @speed_dates.select { |speed_date| speed_date.round == round && speed_date.dater1_id == female_dater.id }.first %>
              <% if sd.dater2_id %>
                <td> <%= @dater_names[sd.dater2_id] %> </td>
              <% else %>
              <td> Break </td>
              <% end %>
            <% end %>
            <td><%= @speed_dates.select { |speed_date| speed_date.round == round && speed_date.dater1_id.nil? }.map { |speed_date| @dater_names[speed_date.dater2_id] }.join(', ') %></td>
          </tr>
        <% end %>
      </table>
    </section>
  </aside>
</div>
<% else %>

No Schedule
<%= button_to "Create Speed Dates", admin_event_speed_dates_path(@event) %>

<% end %>