<% provide(:title, @event.title) %>
<%= render 'admin/events/events_links' %>
<%= render 'admin/events/event_links' %>
      
<div class="row">
  <aside class="col-md-4">
    <section>

      <h1><%= @event.title %></h1>

      <h2>Schedule</h2>

      <% if @event.speed_dates.any? %>
        <%= render 'shared/schedule' %>
        <%= button_to "Regenerate Schedule", admin_event_speed_dates_path(@event), data: { confirm: 'This will delete and recreate the dating schedule.  Are you sure?' } %>
      <% else %>
        <h4>Schedule has not been created.</h4>
        <%= button_to "Create Schedule", admin_event_speed_dates_path(@event) %>
      <% end %>
    </section>
  </aside>
</div>
