<% provide(:title, @event.title) %>
<%= render 'admin/events/events_links' %>
<%= render 'admin/events/event_links' %>
      
<div class="row">
  <aside class="col-md-4">
    <section>

      <h1><%= @event.title %></h1>

      <h2>Schedule</h2>

      <% if @event.speed_dates.any? %>
        <%= render 'shared/schedule' %>
        <%= link_to 'Regenerate Schedule', admin_event_speed_dates_path(@event), data: { 'turbo-method': :post, turbo_confirm: 'This will delete and recreate the dating schedule.  Are you sure?' },
            class: "btn btn-primary ml-3" %>
      <% else %>
        <p>Schedule has not been created.</p>
        <%= button_to "Create Schedule", admin_event_speed_dates_path(@event) %>
      <% end %>
    </section>
  </aside>
</div>
