<% provide(:title, @event.title) %>
<%= render 'admin/events/events_links' %>
<%= render 'admin/events/event_links' %>

<div class="row">
  <aside class="col-md-4">
    <section>

      <h1><%= @event.title %></h1>
      <h2>Daters</h2>

      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Gender</th>
        </tr>
      
        <%= render @daters %>

      </table>
    </section>
    <section class="col-md-8">

      <h3>Add New Dater</h3>

      <%= form_with url: admin_event_daters_path do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
        <%= f.label :gender %><br>
        <%= f.select :gender,  ['male', 'female'], class: 'form-control' %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <br>
        <br>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>

    </section>
  </aside>
</div>
