<% provide(:title, @event.title) %>
<%= render 'admin/events/events_links' %>

<h1><%= @event.title %></h1>
<%= render 'admin/events/event_links' %>
<h2>Daters</h2>

<div class="row">
  <aside class="col-md-5">
    <section>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Gender</th>
        </tr>
      
        <%= render @daters %>

      </table>

      <h2>Add New Dater</h2>

      <%= form_with url: admin_event_daters_path do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
        <%= f.label :gender %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.select :gender,  ['male', 'female'], class: 'form-control' %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
</div>
