<% provide(:title, @event.title) %>
<%= render 'admin/events/events_links' %>

<h1><%= @event.title %></h1>
<%= render 'admin/events/event_links' %>
<h2>Matches</h2>

<div class="row">
  <aside class="col-md-4">
    <section>
      <table class="match-table">
        <tr>
          <th></th>
          <% @female_daters.each do |female_dater| %>
            <th><%= female_dater.name %></th>
          <% end %>
        </tr>
        <% @male_daters.each do |male_dater| %>
          <tr>
            <th><%= male_dater.name %></th>
            <% @female_daters.each do |female_dater| %>
              <% if male_dater.matches.include?(female_dater.id.to_s) %>
                <% if female_dater.matches.include?(male_dater.id.to_s) %>
                  <td><%= image_tag "yes-yes.png", width: 120 %></td>
                <% else %>
                  <td><%= image_tag "yes-no.png", width: 120 %></td>
                <% end %>
              <% else %>
                <% if female_dater.matches.include?(male_dater.id.to_s) %>
                  <td><%= image_tag "no-yes.png", width: 120 %></td>
                <% else %>
                  <td><%= image_tag "no-no.png", width: 120 %></td>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </section>
  </aside>
</div>