<!DOCTYPE html>
<html>
  <head>
    <title>Speed Dating Organiser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<<<<<<< HEAD
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>  
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>  
=======
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
>>>>>>> add stylesheet tag
  </head>

  <body>
    <div class='content'>
      <%= yield %>
    </div>
  </body>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
</html>
